<div ng-controller="PokemonController as pkmCtrl">
	<div ng-controller="TabsController as tabs">
		<div class="pokemon__pokedex">
			<pokemon-name></pokemon-name>
			<a class="go-home" href="#/">Go home</a>
			<pokemon-buttons></pokemon-buttons>
			<pokemon-type></pokemon-type>
		</div>
		<div class="pokedex" ng-show="tabs.tab === 1">
			<pokemon-data></pokemon-data>
		</div>
		<div class="stats" ng-show="tabs.tab === 2">
			<ul>
				<li ng-repeat="(key, value) in pokemon.stats"><strong>{{key}}: </strong>{{value}}</li>
			</ul>
		</div>
		<div class="evolutions"  ng-show="tabs.tab === 3">
			<div class="evolution">
				<div ng-repeat="evolution in pokemon.evolution">
					<a href="#pokemon/{{evolution | normalize }}">
						<p><strong>{{evolution}}</strong></p>
						<img src="{{evolution | imageify}}" alt="">
					</a>
					<p><img class="down-arrow" src='img/arrow-down.png' ng-hide="$last" /></p>
				</div>
			</div>
		</div>
	</div>
</div>